body {
  background-image: url('https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
}

#login-box {
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  border-radius: 35px;
  border: 15px rgb(230, 255, 6) dotted;
  text-align: center;
}