body {
  background-image: url('https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
}

#login-page {
  text-align: center;
}

#page-title {
  animation: shake 2s;
  animation-iteration-count: infinite;
}

#login-box {
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  border-radius: 35px;
  border: 15px rgb(230, 255, 6) dotted;
  text-align: center;
  background-image: url('https://media2.giphy.com/media/KzikBkhzLyVOdpZm20/giphy.gif');
  background-size: 100px 100px;
  box-shadow: 1px 1px 5px 1px rgb(131, 241, 158);
}


#login-box:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

#dancingman {
margin: 30px;
height: 300px;
width: auto
}

#jackblack {
  margin: 10px;
  height: 300px;
  width: auto;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-5deg); }
  20% { transform: translate(-3px, 0px) rotate(5deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(5deg); }
  50% { transform: translate(-1px, 2px) rotate(-5deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-5deg); }
  80% { transform: translate(-1px, -1px) rotate(5deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-5deg); }
}

#un-pw {
margin-top: 12px;
margin-bottom: 12px;
}

#main-button {
  text-align: center;
  margin: 80px;
}

h4 {
  font-size: 4vw;
  font-family: 'Luckiest Guy', cursive;
  color: yellow;
  margin: 20px;
  text-shadow: 5px 5px black;
  letter-spacing: 5px;
}

#click-to-start {
  color: red;
  font-size: 80px;
  letter-spacing: 5px;
}

#phunky-toonz {
  color: white;
}

#dj-cat {
  margin: 0;
  position: absolute;
  right: 0;
}

#game-title {
  color: rgb(255, 17, 116);
  letter-spacing: 5px;
}

#song-name {
  font-family: 'Sniglet', cursive;
  font-size: 16px;
  color: #3300ff;
  text-shadow: 1px 1px black;
  letter-spacing: 3px;
}

#guess-input {
  margin: 20px;
}